*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    min-height: 100vh;
    padding: 2em;
}

.navbar-nav{
    display: flex;
    justify-content: right;
    width: 100%;
}

.nav-link{
    color: #000000 !important;
}

.joinLink{
    width: 8em ;
    background-color: #000000;
    border-radius: 0.5em;
    transition: all 500ms ease-in-out;
}

.joinLink:hover{
    background: none;
    border:2px solid #000000;
}

.joinLink a{
    width: 100%;
    color: #ffffff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinLink a:hover{
    color: #000000 !important;
}


#intro, #who-are-we{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#introInfo h1{
    font-size: 3em;
}

#introInfo h2{
    font-size: 1.2em;
}

.introlink{
    margin-top: 2em;
    width: 10em;
    padding: 1em;
    background-color: #c6c6c6;
    font-size: 1.2em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300em ease-in-out;
}

.introlink a{
    text-decoration: none;
    color: #000000;
}

#introInfo a:hover{
    background-color: #000000;
    color: #ffffff;
}

#introImg{
    width: 50%;
}

#introImg img{
    width: 100%;
}

#who-are-we-txt h1{
    font-size: 2em;
    margin-bottom: 1em;
}

#who-are-we-txt h2{
    width: 20em;
    font-size: 1.5em;
}


#who-are-we-img img{
    width: 70%;
    filter: drop-shadow(30px 10px 4px #9c9ca070);
}

#cta{
    display: flex;
    justify-content: space-evenly;
}

.ctaCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18em;
    height: 25em;
    text-align: center;
    background-color: #fef6e1;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0px 12px 29px 0px rgba(0, 0, 0, 0.84);
}

.ctaCard img{
    width: 50%;
    justify-self: center;
}

.ctaCard h1{
    font-size: 1.5em;
}

.ctaLink{
    width: 10em;
    height: 3em;
    margin-top: 2em;
    background:linear-gradient(45deg, #e2339a,#ef4a51);
    border-radius: 0.5em;
    color: #ffffff;
    font-size: 1.2em;
}

.ctaLink a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

#joinForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.joinFormTxt h1{
    font-size: 3em;
    margin-bottom: 0.25em;
}

.joinFormTxt p{
    font-size: 1.5em;
}

.signupform{
    width: 40%;
    background-color: #eeeeee;
    padding: 2em;
    border-radius: 1em;
    transition: all 300ms ease-in-out
}

.joinusBtn{
    background-color: #000000 !important;
    width: 96% !important;
    height: 3em !important;
}



@media(max-width: 768px){
    html{
        overflow-x: hidden;
    }

    .navbar-nav{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    section{
        margin-bottom: 10em;
    }
    #intro, #who-are-we, #introInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        text-align: center;
    }

    #who-are-we{
        height: 80vh;
    }

    #introInfo{
        justify-content: space-around;
    }

    #introInfo h1{
        font-size: 2em;
        margin-bottom: 1em;
    }
    
    #introInfo h2{
        font-size: 1em;
    }

    #introImg{
        width: 90%;   
        margin-top: 5em;
    }

    #who-are-we-img img{
        width: 80%;
        padding: 1em;
    }

    #who-are-we-txt h1{
        margin-top: 1em;
        width: 15em;
        font-size: 1em;
        margin-bottom: 1em;
    }
    
    #who-are-we-txt h2{
        width: 10em;
        font-size: 1.5em;
    }

    #cta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .ctaCard{
        width: 15em;
        height: 25em;
        margin-bottom: 3em;
    }


    #joinForm{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }

    .joinFormTxt h1{
        font-size: 2em;
        margin-bottom: 0.25em;
    }
    
    .joinFormTxt p{
        font-size: 1em;
    }
    
    .signupform{
        margin-top: 3em;
        width: 100%;
        background-color: #eeeeee;
        padding: 2em;
        border-radius: 1em;
        transition: all 300ms ease-in-out
    }

}
